*{
overflow: hidden;
box-sizing: border-box;
	}

.out{
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	padding: 2px;
	float: left;
}

h1{
	text-align: center;
	margin-bottom: 15px;
}
.h41{
	text-align: right;
	float:right;
	position: relative;
    bottom:24px;
	width:60px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	padding-right: 10px;
	padding-left: 2px;
background-color: #ADFF2F

}
.h42{
	text-align: right;
	float:right;
	position: relative;
    bottom:24px;
	width:60px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	padding-right: 3px;
	padding-left: 2px;
	background-color: 	#F08080;
	
}
.h43{
	text-align: right;
	float:right;
	position: relative;
    bottom:24px;
	width:60px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	padding-right: 10px;
	padding-left: 2px;
	background-color: 	#ADD8E6;
	
}
h4{
	
}
.food{
	float:left;
text-align: center;
background-color: #FFE4C4;
border-width: 1px;
border-color: #000000;
border-style: solid;

}
.foodcontent{
	padding: 5px;
}

@media(min-width: 992px){
.out{
	width: 33.33%;
}
.food{
	
}
}
@media(min-width: 768px) and (max-width: 991px){

.out{
	width: 50%;
}
.out3{
	width:100%;
	
}
.food{

}
.food3{
	
}
}
@media(max-width: 767px){
.food{

}
.out{
	width:100%;
}
}